#!/usr/bin/env rc

type Test component { };

func not_evaluated (flag *bool) bool {
  *flag = true;
  return true;
}

func test (num uint; desc +const []uint8; status bool) {
  if status {
    println (`ok `, num, ` - `, desc);
  } else {
    println (`not ok `, num, ` - `, desc);
  }
}

func Two () *uint {
  var x *uint = new (uint);
  *x = 2u;
  return x;
}

init (this *Test) Main (x uint; y +foreign *uint) {
  println (`1..1`);

  test (1u, `initializer args`, x == 1u && y != nil && *y == 2u);
}

instance t Test Main (1u, Two ());
