type C1 component {
  foo push ();
};

action (this +const *C1) Foo (true) {
  activate foo () {
  }
}

reaction (this +const *C1) Bar () {
  activate foo () {
  }
}

type System component {
  x,y C1;
};

bind (this +const *System) Binder {
  this.x.foo -> this.y.Bar;
  this.y.foo -> this.x.Bar;
}

init (this *System) Init () { }

instance s System Init ();
