type Actuator component {
  flag bool;
  bang1 push ();
};

action (this +const * Actuator) bang (!this.flag) {
  activate bang1 () {
    this.set ();
  }
}

func (this *Actuator) set () {
  this.flag = true;
}

type Detector component {
  flag bool;
};

reaction (this +const * Detector) bang1 () {
  println (`Bang Immutable`);
  activate {
    println (`Bang Mutable`);
    this.flag = true;
  }
}

reaction (this +const * Detector) bang2 () {
  println (`Bang Immutable`);
  activate {
    println (`Bang Mutable`);
    this.set ();
  }
}

func (this *Detector) set () {
  this.flag = true;
}

type System component {
  actuator Actuator;
  detector1 Detector;
};

bind (this *System) Bind {
  this.actuator.bang1 -> this.detector1.bang1;
  this.actuator.bang1 -> this.detector1.bang2;
}

init (this *System) Init () { }

instance system System Init ();
