type Actuator component {
  flag bool;
  bang1 push ();
  bang2 push ();
};

action (this $const * Actuator) bang (!this.flag) {
  activate bang1 (), bang2 () {
    this.flag = true;
  }
}

type Detector component { };

reaction (this $const * Detector) bang () {
  println (`Bang Immutable`);
  activate {
    println (`Bang Mutable`);
  }
}

type System component {
  actuator Actuator;
  detector1 Detector;
  detector2 Detector;
};

bind (this *System) Bind {
  this.actuator.bang1 -> this.detector1.bang;
  this.actuator.bang2 -> this.detector2.bang;
}

init (this *System) Init () { }

instance system System Init ();
